<nav>
  <ul class="header__list">
    <li><a href="{{ '/' | prepend: site.baseurl }}">Stories</a></li>
    <li><a href="{{ '/Paris' | prepend: site.baseurl }}">Paris</a></li>
    <li><a href="{{ '/Venedig' | prepend: site.baseurl }}">Venedig</a></li>
    <li><a href="{{ '/Philadelphia' | prepend: site.baseurl }}">Philadelphia, Washington, New York </a></li>
    <li><a href="{{ '/Schottland' | prepend: site.baseurl }}">Schottland </a></li>
    <li><span class="popup__open">Kontakt</span></li>
  </ul>
</nav>
 